* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

body {
	background: url(../images/bg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	max-height: 100vh;
	overflow-y: hidden;

}

#contents {
	background-color: rgba(255, 255, 255, 0.6);
	height: 80vh;
	margin-top: 10vh;
	width: 100%;
}

#left {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 10vh;
	height: 80vh;
}




.jumbotron {
	position: fixed;
	width: 50%;
	top: 20%;
	left: 25%;
	background-color: rgba(255, 255, 255, 0.7);
}


#cprojects .card {
	max-height: 95%;
	overflow-y: hidden;
}

#cprojects {
	position: fixed;
	overflow-x: hidden;
	/*overflow-y: hidden;*/
	margin-bottom: 30%;
	height: 70%;
}

.text-justify {
	font-size: 1.2em;
}








































/*nav radio and button controls*/
input[type=radio] {
	display: none;
}

#chome,
#cprojects,
#cabout {
	position: fixed;
}


input[id=home]:checked ~ #chome,
input[id=projects]:checked ~ #cprojects,
input[id=about]:checked ~ #cabout {
	visibility: visible;
	transition: 0.5s;
}

input[id=home]:not(:checked) ~ #chome,
input[id=projects]:not(:checked) ~ #cprojects,
input[id=about]:not(:checked) ~ #cabout {
	visibility: hidden;
	transition: 0.5s;
}


/*content home*/
input[id=home]:checked ~ #chome .jumbotron {
	animation-name: fadeInUp;
	animation-duration: 0.5s;
}

input[id=home]:not(:checked) ~ #chome .jumbotron {
	animation-name: fadeOutDown;
	animation-duration: 0.5s;
	animation-delay: 0.1s;
}

/*content projects*/
input[id=projects]:checked ~ #cprojects .alvender {
	animation-name: fadeInLeft;
	animation-duration: 0.5s;
}

input[id=projects]:not(:checked) ~ #cprojects .alvender {
	animation-name: fadeOutLeft;
	animation-duration: 0.5s;
	animation-delay: 0.1s;
}

input[id=projects]:checked ~ #cprojects .bodega {
	animation-name: fadeInDown;
	animation-duration: 0.5s;
}

input[id=projects]:not(:checked) ~ #cprojects .bodega {
	animation-name: fadeOutDown;
	animation-duration: 0.5s;
	animation-delay: 0.1s;
}

input[id=projects]:checked ~ #cprojects .capstone3 {
	animation-name: fadeInRight;
	animation-duration: 0.5s;
}

input[id=projects]:not(:checked) ~ #cprojects .capstone3 {
	animation-name: fadeOutRight;
	animation-duration: 0.5s;
	animation-delay: 0.1s;
}

/*content about*/
input[id=about]:checked ~ #cabout h3 {
	animation-name: fadeInDown;
	animation-duration: 0.5s;
}

input[id=about]:not(:checked) ~ #cabout h3 {
	animation-name: fadeOutUp;
	animation-duration: 0.5s;
	animation-delay: 0.1s;
}

input[id=about]:checked ~ #cabout .pic {
	animation-name: fadeInLeft;
	animation-duration: 0.5s;
}

input[id=about]:not(:checked) ~ #cabout .pic {
	animation-name: fadeOutLeft;
	animation-duration: 0.5s;
	animation-delay: 0.1s;
}

input[id=about]:checked ~ #cabout .desc {
	animation-name: fadeInRight;
	animation-duration: 0.5s;
}

input[id=about]:not(:checked) ~ #cabout .desc {
	animation-name: fadeOutRight;
	animation-duration: 0.5s;
	animation-delay: 0.1s;
}

.btn-dark {
	width: 100%;
	border-radius: 3px;
	margin-bottom: 5vh;
}

.btn-dark:after {
	content: "";
	width: 0px;
	height: 2px;
	display: block;
	background: white;
	transition: 0.5s;
}

.btn-dark:hover:after {
	width: 100%;
}

input[id=home]:checked ~ nav>label[for=home]>.btn:after,
input[id=projects]:checked ~ nav>label[for=projects]>.btn:after,
input[id=about]:checked ~ nav>label[for=about]>.btn:after {
	width: 100%;
	background: lightgrey;
}

nav > a:hover {
	transform: scale(1.1);
	transition: 0.3s;
}

/*nav end radio button controls*/






/*about section*/
#dev-img {
	border-radius: 50%;

}





/*tablet styles*/
@media only screen and (max-width: 720px) {
	#social2 {
		position: fixed;
		bottom: 0;
		background-color: rgba(255, 255, 255, 0.3);
		width: 75%;
		left: 50%;
		margin-left: -37.5%;
	}

	#nav-top {
		height: 10vh;
		width: 100%;
	}

	.jumbotron {
		width: 80%;
		left: 10%;
	}

	#cprojects,
	#cabout {
		position: fixed;
		overflow-x: hidden;
		overflow-y: scroll;
		margin-bottom: 30%;
		height: 70%;
	}




}

/*mobile styles*/
@media only screen and (max-width: 540px) {
	#social2 {
		position: fixed;
		bottom: 0;
		background-color: rgba(255, 255, 255, 0.3);
	}

	#nav-top {
		height: 10vh;
	}

	.jumbotron {
		width: 80%;
		left: 10%;
	}

	#cprojects .card{
		margin-bottom: 5%;
	}

	#cprojects,
	#cabout {
		position: fixed;
		overflow-x: hidden;
		overflow-y: scroll;
		margin-bottom: 30%;
		height: 70%;
	}


	#about-title {
		font-size: 35px;
	}

	#dev-img {
		width: 50%;
		margin: 0 auto;
	}









	input[id=projects]:checked ~ #cprojects .bodega {
		animation-name: fadeInRight;
		animation-duration: 0.5s;
	}

	input[id=projects]:not(:checked) ~ #cprojects .bodega {
		animation-name: fadeOutRight;
		animation-duration: 0.5s;
		animation-delay: 0.1s;
	}

	input[id=projects]:checked ~ #cprojects .capstone3 {
		animation-name: fadeInLeft;
		animation-duration: 0.5s;
	}

	input[id=projects]:not(:checked) ~ #cprojects .capstone3 {
		animation-name: fadeOutLeft;
		animation-duration: 0.5s;
		animation-delay: 0.1s;
	}






}


